<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\ProductionMan\ProductionMan.Common\packages.config" />
  <repository path="..\ProductionMan\ProductionMan.Desktop\packages.config" />
  <repository path="..\ProductionMan\ProductionMan.Web.Api\packages.config" />
</repositories>